  GNU nano 6.2                                                                        .gitignore                                                                                  
node_modules/
public
.env

.pnpm-store/

Docker
.docker-cache/

# Production build files
dist/
dist-electron/
*.exe
*.AppImage

# Sensitive Info
.env
.env.local

# System files
.DS_Store
thumbs.db

